/* === RESET STYLES === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}



/* === GLOBAL === */
body {
  background: #FFF;
  color: #656D76;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  letter-spacing: -0.03em;
  color: #1F2328;
  line-height: 100%;
}

a {
  color: #2F81F7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  display: block;
}



/* === NAVIGATION === */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo a {
  border-bottom: none;
  line-height: 0;
}

.logo a:hover svg {
  transform: scale(1.2);
  fill: #000;
}

.logo svg {
  width: 2rem;
  fill: #1F2328;
  transition: all .2s ease;
}

nav {
  font-size: 0.875rem;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #1F2328;
  position: relative;
  padding: 0.5rem 0;
  text-decoration: none;
}

nav a:hover {
  color: #2F81F7;
  text-decoration: none;
}

nav a:after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: 0;
  width: 70%;
  height: 1px;
  background: #1F2328;
  transition: all .25s ease-in-out;
  transform: scale(0);
}

nav a:hover:after {
  background: #2F81F7;
  transform: scale(1);
}



/* === HOMEPAGE === */
.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.container.wide {
  max-width: 2000px;
}

main {
  padding-bottom: 9rem;
}

.home .hero {
  padding: 9rem 0;
}

.home .hero .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home .hero h3 {
  font-size: 2.25rem;
  font-weight: 400;
  color: #656D76;
}

.home .hero h1 {
  font-size: 4.5rem;
}

.figma-cursor {
  position: absolute;
  top: 60%;
  left: calc(100% - 120px);
  animation: 20s hovering infinite;
}

@keyframes hovering {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  10% {
    transform: translate3d(10px, 10px, 0px);
  }

  20% {
    transform: translate3d(0px, 0px, 0px);
  }

  25% {
    transform: translate3d(-40px, 20px, 0px);
  }

  30% {
    transform: translate3d(-45px, 25px, 0px);
  }

  35% {
    transform: translate3d(-40px, 20px, 0px);
  }

  50% {
    transform: translate3d(-40px, 20px, 0px);
  }

  55% {
    transform: translate3d(-200px, 40px, 0px);
  }

  60% {
    transform: translate3d(-205px, 45px, 0px);
  }

  65% {
    transform: translate3d(-200px, 40px, 0px);
  }

  70% {
    transform: translate3d(-205px, 45px, 0px);
  }

  95% {
    transform: translate3d(-200px, 40px, 0px);
  }
}

.work .container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

a.card {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #F7F7F8;
  border-radius: 0.5rem;
  transition: all .2s ease;
  overflow: hidden;
}

a.card:hover {
  transform: scale(1.025);
  background-color: #FFF;
  box-shadow: 0px 4px 24px 0px rgba(31,35,40,0.1);
}

a.disabled {
  cursor: not-allowed;
}

a.disabled:hover {
  transform: scale(1);
  background-color: #F7F7F8;
  box-shadow: none;
}

a.disabled:hover .not-avail {
  transform: translate(0);
  opacity: 1;
}

.text {
  width: 50%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text h2 {
  font-size: 2rem;
}

.text .stack {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.875rem;
  color: #1F2328;
}

.text p {
  color: #656D76;
  font-size: 1.25rem;
  line-height: 150%;
}

.text button {
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: #1F2328;
  cursor: pointer;
  width: fit-content;
  padding: 1.125rem 1.875rem;
  box-shadow: inset 0px 0px 0px 1px #656D76;
  transition: all .2s ease;
}

.text button:hover {
  color: #000;
  box-shadow: inset 0px 0px 0px 3px #000;
}

.text button svg.arrow {
  fill: #1F2328;
  display: inline-block;
  overflow: visible;
  vertical-align: text-bottom;
  width: 1em;
  height: 1em;
  transition: all .2s ease;
  transform: translateX(0);
}

.text button:hover svg.arrow {
  fill: #000;
  transform: translateX(4px);
}

.text button svg.arrow .arrow-stem {
  stroke: #1F2328;
  stroke-width: 1.5;
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  transition: all .2s ease;
}

.text button:hover svg.arrow .arrow-stem {
  stroke: #000;
  stroke-dashoffset: 20;
}

.not-avail {
  color: #656D76;
  background-color: #D0D2D7;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  transition: all .25s ease-in-out;
  opacity: 0;
  transform: translate(0, -0.5rem);
}

.image {
  width: 50%;
  aspect-ratio: 45/44;
}

.image img {
  transition: all .2s ease;
}

.webp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webp img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0px 4px 24px 0px rgba(31,35,40,0.4);
}



/* === PROJECTS === */
.project p {
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 1rem;
  max-width: 80%;
}

.project h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  max-width: 80%;
}

.project ul {
  padding-left: 2rem;
  font-size: 1.25rem;
  line-height: 150%;
  max-width: 80%;
}

.project .hero {
  padding: 9rem 0 0;
}

.project .hero h1 {
  font-size: 4.5rem;
}

.project .section {
  margin-top: 6rem;
}

figcaption {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.5rem;
}



/* === FOOTER === */
footer {
  background-color: #F7F7F8;
  padding: 6rem 0;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.75rem;
  line-height: 150%;
  color: #1F2328;
}

footer .social ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.social a:hover svg {
  fill: #2F81F7;
  transform: scale(1.25);
}

.social svg {
  width: 1rem;
  fill: #1F2328;
  transition: all .2s ease;
}



/* === 964 === */
@media screen and (max-width: 964px) {
  nav {
    font-size: 1rem;
  }

  nav ul {
    gap: 1rem;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  .container {
    max-width: 100%;
    padding: 0 2rem;
  }

  .home .hero h3 {
    font-size: 5vw;
  }

  .home .hero h1 {
    font-size: 7.5vw;
  }

  .work .container {
    gap: 3rem;
  }

  .text {
    gap: 1.5rem;
    padding: 0 2rem;
  }

  .text h2 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 1rem;
  }

  .text button {
    font-size: 1rem;
  }

  .not-avail {
    opacity: 1;
    transform: translate(0, 0);
    font-size: 0.875rem;
  }

  .project p {
    font-size: 1rem;
  }
  
  .project h2 {
    font-size: 2.25rem;
  }
  
  .project ul {
    font-size: 1rem;
  }
  
  .project .hero h1 {
    font-size: 7.5vw;
  }
  
  .project .section {
    margin-top: 3rem;
  }
  
  figcaption {

  }

  footer {
    padding: 3rem;
  }

  footer .container {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .social svg {
    width: 1.5rem;
  }

  .copyright {
    text-align: center;
  }
}



/* === 720 - CARD FIX === */
@media screen and (max-width: 720px) {
  .home .hero .container {
    gap: 1rem;
  }

  .work .container {
    max-width: 75%;
    gap: 6rem;
  }

  a.card {
    flex-direction: column-reverse;
    background: transparent;
    gap: 1rem;
  }

  a.card:hover {
    background: transparent;
    transform: scale(1);
    box-shadow: none;
  }

  a.card:hover .image img {
    transform: scale(1.05);
  }

  .text {
    width: 100%;
    padding: 0;
    text-align: center;
    gap: 0.5rem;
  }

  .not-avail {
    margin: 0 auto;
  }

  .text button {
    margin: 0 auto;
  }

  .image {
    width: 100%;
    background-color: #F7F7F8;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-left: 2rem;
    aspect-ratio: auto;
  }

  .image img {
    aspect-ratio: 45/44;
  }
  
  .webp {
    aspect-ratio: 45/44;
  }
  
  .webp img {
    aspect-ratio: auto;
  }

  .project p {
    max-width: 100%;
  }
  
  .project h2 {
    max-width: 100%;
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }
  
  .project ul {
    max-width: 100%;
  }
}



/* === 550 === */
@media screen and (max-width: 550px) {
  nav ul {
    gap: 0
  }

  .work .container {
    max-width: 100%;
  }
}