/* === RESET STYLES === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}



/* === SELECTION === */
::-moz-selection {
  background: #ff3d00;
  color: #fff;
}

::selection {
  background: #ff3d00;
  color: #fff;
}



/* === GLOBAL === */
body {
  background: #fff;
  font-family: -apple-system, system-ui, sans-serif;
  color: #000;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a:hover {
  color: #ff3d00;
}

img {
  width: 100%;
  height: auto;
  display: block;
}



/* === NAVIGATION === */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1200px;
  margin: 40px auto 0;
}

.logo a {
  border-bottom: none;
  line-height: 0;
}

.logo a:hover svg {
  fill: #ff3d00;
}

.logo svg {
  width: 64px;
  fill: #000;
}

.nav {
  list-style: none;
  text-align: right;
}

.nav li {
  display: inline-block;
  margin-right: 30px;
}

.nav li:last-child {
  margin-right: 0;
}



/* === HOMEPAGE === */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 120px auto 160px;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.hero h1 {
  font-size: 64px;
  cursor: default;
}

.highlight-text {
  display: inline;
  color: #ff3d00;
}

.hero p {
  margin-top: 20px;
}

.work {
  margin-top: 160px;
}

.work a {
  display: initial;
}

.row {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  margin-bottom: 80px;
}

.text {
  width: 430px;
}

.text h2 {
  font-size: 30px;
}

.text h2:after {
  content: "";
  margin: 40px 0;
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000;
}

a:hover .text h2:after {
  background-color: #ff3d00;
}

.image {
  width: 650px;
  border-radius: 5px;
  overflow: hidden;
}

.image img {
  transition: all 0.25s ease-in-out;
}

a:hover .image img {
  transform: scale(1.075);
}

.work p.cs {
  font-style: italic;
  margin-top: 8px;
}



/* === PROJECTS === */
.work-section {
  max-width: 1200px;
  padding: 0 20px;
  margin: 80px auto 0;
}

.work-section:last-of-type {
  margin-bottom: 160px;
}

.work-section-wide {
  max-width: 2000px;
  padding: 0 20px;
  margin: 80px auto 0;
}

.work-section h1 {
  font-size: 48px;
  max-width: 800px;
  margin: 0 auto;
}

.work-section h2 {
  font-size: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.work-section p {
  max-width: 800px;
  margin: 20px auto 0;
  line-height: 30px;
}

.work-section ul {
  margin: 10px auto 0;
  max-width: 800px;
  padding-left: 60px;
}

.work-section li {
  margin-top: 8px;
}

.work-section strong {
  font-weight: 700;
}

.work-section figure {
  margin-top: 30px;
}

.work-section figure:first-of-type {
  margin-top: 0;
}

.work-section figcaption, .work-section-wide figcaption {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}



/* === 1200 BREAK POINT === */
@media only screen and (max-width: 1200px) {

  header {
    max-width: 800px;
  }

  .container {
    max-width: 800px;
  }

  .text {
    width: 300px;
  }

  .text h2 {
    font-size: 24px;
  }

  .image {
    width: 430px;
  }

  .work-section {
    max-width: 800px;
  }

}



/* === 800 BREAK POINT === */
@media only screen and (max-width: 800px) {

  header {
    max-width: 600px;
  }

  .hero {
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 42px;
  }

  .container {
    max-width: 600px;
    margin: 60px auto 100px;
  }

  .work {
    margin-top: 100px;
  }

  .text {
    width: 225px;
  }

  .text h2 {
    font-size: 18px;
  }

  .text h2:after {
    margin: 20px 0;
  }

  .image {
    width: 320px;
  }

  .work-section {
    max-width: 600px;
  }

}



/* === 600 BREAK POINT === */
@media only screen and (max-width: 600px) {

  header {
    max-width: 100%;
  }

  .hero {
    max-width: 100%;
  }
  
  .hero h1 {
    font-size: 30px;
  }

  .container {
    max-width: 100%;
    margin: 40px auto 80px;
  }

  .work {
    margin-top: 80px;
  }

  .row {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .text h2:after {
    margin: 20px auto;
  }

  .image {
    width: 100%;
  }

  .work-section {
    max-width: 100%;
    margin: 40px auto 0;
  }

  .work-section h1 {
    font-size: 30px;
  }

  .work-section h2 {
    font-size: 24px;
  }

}