.resume {
  flex-basis: 37.5rem;

  @media screen and (max-width: 915px) {
    flex-basis: 21.875rem;
  }

  h2 {
    font-weight: 700;
    line-height: 2rem;
    padding: {
      bottom: 1.25rem;
      right: 2.1875rem;
    }
    margin-bottom: 1.25rem;
    position: relative;
    transition: color 300ms ease;

    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: #000;
      opacity: 0.1;
      bottom: 0;
      left: 0;
    }
  }

  h3 {
    font: {
      size: 1.25rem;
      weight: 700;
    }
    margin-bottom: 0.4688rem;
    transition: color 300ms ease;
  }

  h4 {
    font: {
      size: 0.75rem;
      weight: 800;
    }
    text-transform: uppercase;
  }

  ul {
    list-style: disc outside none;

    li {
      margin-bottom: 0.75rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  a {
    &:hover h3 {
      color: $accent;
    }
  }

  .education, .employment-history, .design-projects {
    margin-bottom: 3.75rem;
  }

  .content-block {
    margin-bottom: 1.875rem;
  }
}