/* ========== Global ========== */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44444444;
  background-color: #fff;
  color: #696969;
  padding: 50px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  color: #1d1d1d;
}

.container {
  display: inline-flex;
  justify-content: center
}

aside header,
aside .contact,
main header,
main .summary,
main .education,
main .employment,
main .projects {
  margin-bottom: 48px;
}
/* ========== End Global ========== */



/* ========== Sidebar ========== */
aside {
  flex: 0 0 250px;
  padding: 40px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #f5f5f5 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 );
  height: 100%;
  position: sticky;
  top: -400px;
}

aside header .headshot {
  background-image: url("../assets/img/headshot.png");
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0 0 32px rgba(0,0,0,.1);
}

aside .contact ul {
  display: flex;
  justify-content: space-between;
}

aside .contact ul li a {
  font-size: 32px;
  color: #454545;
}

aside .contact ul li a.phone:hover {
  color: #00acec;
}
aside .contact ul li a.email:hover {
  color: #e5a430;
}
aside .contact ul li a.website:hover {
  color: #fe0000;
}
aside .contact ul li a.github:hover {
  color: #000;
}
aside .contact ul li a.linkedin:hover {
  color: #0073b1;
}

aside .skills h2 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

aside .skills .skills__list {
  margin-bottom: 32px;
}

aside .skills .skills__list ul li {
  margin-bottom: 8px;
}
/* ========== End Sidebar ========== */



/* ========== Main ========== */
main {
  flex: 0 1 700px;
  padding: 0 50px;
}

main header h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 16px;
}

main header h2 {
  font-size: 24px;
  font-weight: 600;
}

main .education h2 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main .education .education__course {
  margin-bottom: 16px;
}

main .education .education__course h3 {
  font-size: 20px;
  font-weight: 900;
}

main .education .education__course h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

main .employment h2 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main .employment .employment__job {
  margin-bottom: 16px;
}

main .employment .employment__job h3 {
  font-size: 20px;
  font-weight: 900;
}

main .employment .employment__job h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

main .employment .employment__job ul li {
  margin-bottom: 8px;
}

main .projects h2 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main .projects .projects__item {
  margin-bottom: 16px;
}

main .projects .projects__item h3 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 4px;
}

main .projects .projects__item h3 a {
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 2px dotted #696969;
}

main .projects .projects__item h3 a:hover {
  color: #1264a3;
}
/* ========== End Main ========== */