body {
  font-family: 'Open Sans', sans-serif;
  background-color: #121421;
  color: #979db1;
}

main {
  background-color: #1b1f30;
  max-width: 900px;
  margin: 0 auto 30px;
  padding: 60px 30px;
  box-sizing: border-box;
  border-radius: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

p {
  line-height: 1.6;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}

h2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

h2.sum-title:after {
  background-color: #ff0097;
  box-shadow: 0 0 20px 1px #ff0097;
}

h2.edu-title:after {
  background-color: #00a300;
  box-shadow: 0 0 20px 1px #00a300;
}

h2.proff-title:after {
  background-color: #ee1111;
  box-shadow: 0 0 20px 1px #ee1111;
}

h2.lang-title:after {
  background-color: #00aba9;
  box-shadow: 0 0 20px 1px #00aba9;
}

h2.prog-title:after {
  background-color:  #ffc40d;
  box-shadow: 0 0 20px 1px  #ffc40d;
}

h2.proj-title:after {
  background-color: #9f00a7;
  box-shadow: 0 0 20px 1px #9f00a7;
}

h2.work-title:after {
  background-color: #2b5797;
  box-shadow: 0 0 20px 1px #2b5797;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

h3 a {
  text-decoration: none;
  color: #fff;
}

h3 a:hover {
  color: #2d89ef;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
  opacity: .5;
}



/* ####### HEADER ######## */
header {
  margin-top: 30px;
  margin-bottom: 60px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  text-transform: capitalize;
  color: #2d89ef;
  text-shadow: 0 0 20px #2d89ef;
}

.contact {
  flex: 0 0 350px;
}

.contact ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contact li {
  margin: 0 0 10px 20px;
  font-size: 14px;
}

.contact li a {
  text-decoration: none;
  color: #979db1;
}

.contact li a:hover {
  text-decoration: none;
  color: #fff;
}



/* ####### TOP ######## */
.top {
  display: flex;
  justify-content: space-between;
}

.sum-edu,
.skills {
  flex: 0 0 48%;
}

.sum,
.skills-list {
  margin-bottom: 40px;
}

.course {
  margin-bottom: 30px;
}

.course:last-of-type {
  margin-bottom: 0;
}

.skills-list li {
  margin-bottom: 10px;
  line-height: 1.6;
}



/* ####### MID ######## */
.mid {
  margin: 60px 0 50px;
  padding: 50px 0 60px;
  border-top: 2px dashed rgba(255,255,255,0.15);
  border-bottom: 2px dashed rgba(255,255,255,0.15);
}

.project {
  margin-bottom: 30px;
}

.project:last-of-type {
  margin-bottom: 0;
}



/* ####### BOTTOM ######## */
.work {
  margin-bottom: 30px;
}

.work:last-of-type {
  margin-bottom: 0;
}

.work li {
  margin-bottom: 10px;
  line-height: 1.6;
}